{% extends "blog/base.html" %}
{% block title %}About Me{% endblock %}
{% block content %}
<br>
    <div class="card bg-light ms-4 me-4 mb-4" >
  <div class="card-header">About Me</div>
  <div class="card-body">
    <p class="card-text">
        Hi my name is Rotgak Gerald Goyit <br>
        I am currently learning Python(first language) and Django
        This is a blog that I just created for learning purposes it is also the first project I will be hosting.
        I do hope you will reach out to me and tell me your thoughts about the website.<br>
        Thank you.
    </p>
  </div>
</div>


{% endblock %}